<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAv - Relatório Avaliativo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">SEEDF - Relatório Avaliativo (RAv)</a>
        <div class="ml-auto"> 
            <form class="form-inline" method="POST" action="/login">
                <input class="form-control mr-sm-2" type="text" placeholder="Nome de usuário" name="username" required>
                <input class="form-control mr-sm-2" type="password" placeholder="Senha" name="password" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="content text-center">
            <h1>Bem-vindo ao RAv - Relatório Avaliativo</h1>
            <p>Esta é a página de apresentação do projeto RAv.</p>
        </div>
    </div>
</body>
</html>